extends layout

block content
  .row
    .col-lg-4.col-md-4.col-sm-4
      .collector.well.well-lg
        .instruction
          span Use Mouse Wheel Here
        .yourresults
          dl
            dt Min <small>(norm, raw)</small>:
            dd.yourresults-min
          dl
            dt Max <small>(norm, raw)</small>:
            dd.yourresults-max
          dl
            dt Resolution:
            dd.yourresults-res
        .submit
          button(type="button", class="btn btn-default btn-xs", disabled="disabled") Submit Results
        .useragent("data-ua"=agent.toJSON())= agent.toString()
    .col-lg-8.col-md-8.col-sm-8
      h2 Existing Results
      table
        thead
          tr
            th OS
            th Browser
            th Min <small>(Norm, Raw)</small>
            th Max <small>(Norm, Raw)</small>
            th Resolution
        tbody
          each rec in records
            tr
              td
                = rec.useragent.os.family
                small= ' (' + rec.useragent.os.major + '.' + rec.useragent.os.minor + '.' + rec.useragent.os.patch + ')'
              td
                = rec.useragent.family
                small= ' (' + rec.useragent.major + '.' + rec.useragent.minor + '.' + rec.useragent.patch + ')'
              td= rec.delta.normalized.min + ', ' + rec.delta.raw.min
              td= rec.delta.normalized.max + ', ' + rec.delta.raw.max
              td= rec.delta.resolution
